.nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.image-group {
  display: flex;
  flex: 1;
  align-items: right;
  width: 100px;
  height: 100px;
}

.search-bar {
  flex: 2;
  align-items: center;
}

.search-bar input[type=text] {
  float: center;
  font-size: xx-large;
}

.search-bar input[type=submit] {
  width: 80px;
  height: 50px;
}
