nav {
  display: block;
  justify-content: left;
}
.image-logo > img {
  width: 100px;
}

.input-bar img {
  width: 50px;
}
#search-bar {
  justify-content: center;
  width: 100px;
}
.image-group {
  display: flex;
  /*align: flex-end;*/
}

.image-group img {
  width: 50px;
}
